
  
  
   <!-- scenario 2 only -->

   {% if (data['set-journey'] === "WC2")%}

  
 <p>Signed in to WebFiling as <br> old-email@hotmail.com </p>


   <!-- all other scenarios -->
   {% else %}
   
  
 <p>Signed in to WebFiling as hannah.salt@gmail.com </p>

 {% endif %}




<ul class="govuk-list">
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="/../migration-9/summary-card/your-companies-3">Saved companies</a>
  </li>
<li>
    <a class="govuk-link govuk-link--no-visited-state" href="">My recent filings</a>
  </li>

    <li>
    <a class="govuk-link govuk-link--no-visited-state" href="../manage-account-personal-code-link">Manage account</a>
  </li>
  <li>   
    <a class="govuk-link govuk-link--no-visited-state" href="/migration-9/mortgage-charge-menu">File as a lender</a>
  
</li>
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="">Sign out</a>
    </li>
</ul>
