{% extends "layouts/layout.html" %}


{% set serviceName %}
  
{% endset%}

{% block pageTitle %}
  Sign in to WebFiling
{% endblock %}

{% block beforeContent %}

{% endblock %}




{% block content %}



  <a href="lenders-saved-companies" class="govuk-back-link">Back to saved companies</a>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">


  <form action="start-page" method="post" novalidate="">
    
  
    
    <!--
    {% set html %}
    <p class="govuk-notification-banner__heading">
     The way you sign in to WebFiling has changed.
    </p>
  {% endset %}

  {{ govukNotificationBanner({
    html: html
  }) }}-->


     <h1 class="govuk-heading-l">Enter your lender details</h1>


    <p>This service is for lenders to file charge (mortgage) documents.</p>

    
<div class="govuk-form-group govuk-!-margin-top-6">
  <label class="govuk-label" for="width-10">
   <strong>Company number</strong>
  </label>
   <div id="event-name-hint" class="govuk-hint">
    This is 8 characters long.
  </div>
  <input class="govuk-input govuk-input--width-10" id="width-10" name="width10" type="text">
</div>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      How do I find the company number?
    </span>
  </summary>
  <div class="govuk-details__text">
    You can find this by searching for the company on the <a href="https://find-and-update.company-information.service.gov.uk/" class="govuk-link--no-visited-state rel="noreferrer noopener" target="_blank">Companies House register (opens in new tab)</a>.
  </div>
</details>

<div class="govuk-form-group">
  <label class="govuk-label" for="width-10">
   <strong>Lender authentication code</strong>
  </label>
  <div id="event-name-hint" class="govuk-hint">
    This is an 8 character code. It's required if you need to file charge (mortgage) documents online for other companies.
  </div>
  <input class="govuk-input govuk-input--width-10" id="width-10" name="width10" type="text">
</div>
<div class="govuk-form-group">
  <label class="govuk-label" for="width-10">
   <strong>Presenter authentication code</strong>
  </label>
  <div id="event-name-hint" class="govuk-hint">
    This is an 11 character code. It identifies the agent or software user who is submitting a filing.
  </div>
  <input class="govuk-input govuk-input--width-10" id="width-10" name="width10" type="text">
</div>



<br>



<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      I do not have the authentication codes
    </span>
  </summary>
  <div class="govuk-details__text">
  
<p class="govuk-body">If you're a lender and do not have the authentication codes needed to access this service, you'll have to <a href="https://www.gov.uk/government/publications/apply-to-register-as-a-lender-to-file-charge-documents-for-a-company" class="govuk-link--no-visited-state rel="noreferrer noopener" target="_blank">apply to register as a lender to file charge documents for a company (opens in new tab)</a>.</p> 

  <p class="govuk-body">If you've previously registered as a lender but no longer have the codes, contact us at <strong>enquiries@companieshouse.gov.uk</strong></p>
  
  </div>
</details>
 

<div class="govuk-!-padding-top-4
 ">
    {{ govukButton({
    text: "Continue",
    href:"company-overview-pearson"
    
  }) }}

</div>

  
</div>
</div>
{% endblock %}
